button {
  margin: 10px;
}
.mat-drawer-container .mat-sidenav {
  @media screen and (max-width: 900px) {
    width: auto;
    min-width: 100px;
  }
  @media screen and (max-width: 400px) {
    width: auto;
    min-width: 50px;
  }
}
