.group {
  margin-bottom: 20px;
}
.mat-checkbox {
  margin-right: 20px;
}
.mat-radio-button {
  margin-right: 40px;
  margin-bottom: 5px;
}
.mat-slider-horizontal {
  width: 100%;
}
.mat-slider-vertical {
  height: 300px;
}
