<section>
  <header>
    <h3 class="primary-color">Scroll</h3>
  </header>
  <article>
    <mat-card>
      <mat-card-content>
        <div>
          <h6>Controls</h6>
          <div>
            <button mat-raised-button color="primary" (click)="onScrollToTop()">Scroll To Top</button>
            <button mat-raised-button color="primary" (click)="onScrollToLeft()">Scroll To Left</button>
            <button mat-raised-button color="primary" (click)="onScrollToRight()">Scroll To Right</button>
            <button mat-raised-button color="primary" (click)="onScrollToBottom()">Scroll To Bottom</button>
            <button mat-raised-button color="primary" (click)="onScrollToXY(0, 100)">Scroll To 0,100</button>
            <button mat-raised-button color="primary" (click)="onScrollToXY(10, 10)">Scroll To 10,10</button>
          </div>

          <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="stretch">
            <div fxFlex="1 0 auto" fxFlex.gt-sm="50">
              <h6>Component</h6>
              <perfect-scrollbar class="list-container">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut consequuntur dolorem earum iusto labore
                nisi velit voluptas voluptatum. Ad adipisci aut consectetur cum debitis eos eum eveniet hic illum itaque
                laudantium libero, molestias nemo non nulla provident quaerat quam sit, voluptate voluptatum. Dolorum
                excepturi labore quaerat similique! Aliquam atque corporis dolorem error, fugit illo iste odit possimus
                sequi tenetur. Deserunt dolores eum officiis omnis quam quod soluta sunt. Accusantium alias aliquam,
                architecto asperiores blanditiis consectetur distinctio dolores eligendi error est harum, incidunt iure
                maiores minus neque numquam odio officia possimus quia quibusdam quos ratione sit veritatis voluptas
                voluptatibus. Earum?
                oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo<br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci architecto assumenda atque autem
                blanditiis consequatur corporis cum, deleniti, dolor eligendi eos eveniet ex exercitationem expedita hic
                in inventore ipsam itaque labore libero maxime mollitia non optio perspiciatis porro possimus
                praesentium quasi quidem reiciendis reprehenderit rerum sunt tempore. Amet, architecto atque culpa
                dolorem ducimus ea exercitationem, facilis fugiat libero maxime molestiae, obcaecati quidem sapiente sed
                suscipit tenetur voluptate! Adipisci aut consequatur cumque deleniti dignissimos distinctio eius facere,
                harum hic in molestiae nemo numquam perferendis perspiciatis quas ratione reiciendis vitae voluptatem? A
                accusantium aperiam architecto dolorem, laudantium necessitatibus quidem ut! Aperiam, aspernatur
                consectetur delectus dignissimos eius enim esse, eum facilis harum itaque labore maiores quasi sint! Ab
                at, atque cupiditate delectus earum harum ipsam maiores nesciunt pariatur reiciendis tempora tenetur
                veniam! Accusantium aliquid asperiores consectetur culpa debitis deleniti deserunt, earum error et eum
                expedita harum illum inventore laboriosam laborum molestiae mollitia nam nihil omnis porro quae qui quia
                quidem reiciendis sunt temporibus ut, voluptatum. Aliquam asperiores consequuntur dolor hic nisi quas
                repellat voluptas! Ad alias amet, aspernatur beatae commodi distinctio earum enim ex exercitationem
                harum incidunt ipsam ipsum laudantium modi pariatur quia quod recusandae rem reprehenderit tempora vel
                veniam, voluptatem voluptates?
              </perfect-scrollbar>
            </div>

            <div fxFlex="1 0 auto" fxFlex.gt-sm="50">
              <h6>Directive</h6>

              <div perfectScrollbar class="list-container">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus amet at doloribus eaque eum
                expedita impedit ipsa iure libero magni nam placeat rerum, sed suscipit vel voluptatem. Commodi
                doloremque doloribus ducimus fuga id impedit, sed similique voluptas? Consequuntur eaque est harum nam
                sapiente sequi temporibus ut! Aliquid corporis delectus distinctio impedit minus molestiae, natus
                nostrum odit optio ratione. Aperiam consequatur est excepturi laborum neque praesentium unde, vitae.
                Atque, praesentium, ut? Accusantium aliquid assumenda atque aut, eaque, eveniet harum impedit itaque
                iure labore magnam maxime odio perferendis possimus provident quisquam quos repellat repellendus sequi
                sint tempora velit vero? Facere, fuga!
                coooooooooooooooooooooooooooooooooooooooooooooooooocoooooooooooooooooooooooooooooooooooooooooooooooooo<br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet animi atque cum dolor dolore dolores
                eaque eligendi eum eveniet facere hic ipsa iure iusto laboriosam magni molestias mollitia non numquam,
                omnis optio placeat possimus provident quas, quia quis quo quos reiciendis repellat reprehenderit
                similique suscipit tempora totam ullam velit vitae voluptatum! Accusantium assumenda aut, blanditiis
                dignissimos, eos error hic molestias mollitia optio perferendis quas quia quo ratione recusandae,
                repellat similique tenetur ullam vitae. Amet aperiam architecto blanditiis debitis deleniti dicta
                dolores, doloribus, illum labore laboriosam maxime nemo omnis quidem quisquam saepe tenetur voluptatum.
                Aspernatur corporis culpa delectus, ducimus eaque enim error, ex hic laborum mollitia nobis, nulla
                quidem quos reprehenderit tempore unde voluptatibus. Esse, natus, voluptates. A at autem ex incidunt
                neque, officiis quis quo recusandae repellendus vel. Ad amet animi aperiam assumenda atque commodi
                debitis eaque eligendi est expedita id itaque laborum libero magni minima nam natus odit placeat quas
                quos recusandae repellendus repudiandae sapiente sequi similique sint tempora, veniam. Ad amet
                asperiores atque autem blanditiis cumque deserunt dignissimos dolores earum, facere fuga incidunt ipsa
                labore laborum laudantium, molestias natus nobis non nostrum, odio quod ratione rem sint suscipit
                tempore totam vero voluptatem. Debitis id quidem quod ullam.
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </article>
</section>
