<section>
  <header class="text-center">
    <h5>Portfolio</h5>
    <div class="mat-subhead">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis dolorum ducimus placeat possimus
      provident qui reprehenderit tempore totam voluptatibus.
    </div>
  </header>
  <article class="push-top">
    <mat-grid-list [cols]="gridColumns" [rowHeight]="rowHeight">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="grid">
          <figure class="effect-lily">
            <div class="picture" style="background-image: url('assets/portfolio/480360.png')"></div>
            <figcaption>
              <div>
                <h2>Nice <span>Lily</span></h2>
                <p>Lily likes to play with crayons and pencils</p>
              </div>
              <a>View more</a>
            </figcaption>
          </figure>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="grid">
          <figure class="effect-oscar">
            <div class="picture" style="background-image: url('assets/portfolio/480360.png')"></div>
            <figcaption>
              <h2>Warm <span>Oscar</span></h2>
              <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
              <a>View more</a>
            </figcaption>
          </figure>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="grid">
          <figure class="effect-layla">
            <div class="picture" style="background-image: url('assets/portfolio/480360.png')"></div>
            <figcaption>
              <h2>Crazy <span>Layla</span></h2>
              <p>When Layla appears, she brings an eternal summer along.</p>
              <a>View more</a>
            </figcaption>
          </figure>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="grid">
          <figure class="effect-marley">
            <div class="picture" style="background-image: url('assets/portfolio/480360.png')"></div>
            <figcaption>
              <h2>Sweet <span>Marley</span></h2>
              <p>Marley tried to convince her but she was not interested.</p>
              <a>View more</a>
            </figcaption>
          </figure>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="grid">
          <figure class="effect-ruby">
            <div class="picture" style="background-image: url('assets/portfolio/480360.png')"></div>
            <figcaption>
              <h2>Glowing <span>Ruby</span></h2>
              <p>Ruby did not need any help. Everybody knew that.</p>
              <a>View more</a>
            </figcaption>
          </figure>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="grid">
          <figure class="effect-roxy">
            <div class="picture" style="background-image: url('assets/portfolio/480360.png')"></div>
            <figcaption>
              <h2>Charming <span>Roxy</span></h2>
              <p>Roxy was my best friend. She'd cross any border for me.</p>
              <a>View more</a>
            </figcaption>
          </figure>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="grid">
          <figure class="effect-bubba">
            <div class="picture" style="background-image: url('assets/portfolio/480360.png')"></div>
            <figcaption>
              <h2>Fresh <span>Bubba</span></h2>
              <p>Bubba likes to appear out of thin air.</p>
              <a>View more</a>
            </figcaption>
          </figure>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="grid">
          <figure class="effect-romeo">
            <div class="picture" style="background-image: url('assets/portfolio/480360.png')"></div>
            <figcaption>
              <h2>Wild <span>Romeo</span></h2>
              <p>Romeo never knows what he wants. He seemed to be very cross about something.</p>
              <a>View more</a>
            </figcaption>
          </figure>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="grid">
          <figure class="effect-chico">
            <div class="picture" style="background-image: url('assets/portfolio/480360.png')"></div>
            <figcaption>
              <h2>Silly <span>Chico</span></h2>
              <p>Chico's main fear was missing the morning bus.</p>
              <a>View more</a>
            </figcaption>
          </figure>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </article>
</section>
