<section>
  <header>
    <h3 class="primary-color">Registro de Usuarios</h3>
  </header>
  <article>
    <mat-card>
      <mat-card-content>
        <mat-tab-group #tabGroup dynamicHeight="true">
          <mat-tab label="Paso 1">
            <h5>Informacion del nuevo usuario</h5>
            <form #loginForm="ngForm">
              <div>

                <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="25">
                  <mat-input-container [dividerColor]="!userName.valid && !userName.pristine ? 'warn' : 'primary'">
                    <input type="text" matInput placeholder="Nombre(s)" name="nombre" required ngModel
                           #userName="ngModel">
                    <mat-hint *ngIf="!userName.valid && !userName.pristine" class="warn-color">Este campo es requerido
                    </mat-hint>
                  </mat-input-container>
                  <mat-input-container [dividerColor]="!userLastName.valid && !userLastName.pristine ? 'warn' : 'primary'">
                    <input type="text" matInput placeholder="Apellido(s)" name="apellido" required ngModel
                           #userLastName="ngModel">
                    <mat-hint *ngIf="!userLastName.valid && !userLastName.pristine" class="warn-color">Este campo es requerido
                    </mat-hint>
                  </mat-input-container>
                  <mat-input-container>
                    <input type="text" matInput placeholder="Telefono" name="telefono" ngModel #userPhone="ngModel">
                  </mat-input-container>
                  <mat-input-container [dividerColor]="!userEmail.valid && !userEmail.pristine ? 'warn' : 'primary'">
                    <input type="email" email matInput placeholder="Email" name="email" required ngModel #userEmail="ngModel">
                    <mat-hint *ngIf="!userEmail.valid && !userEmail.pristine" class="warn-color">Introduzca un email correcto</mat-hint>
                  </mat-input-container>
                  <mat-input-container [dividerColor]="!userPassword.valid && !userPassword.pristine ? 'warn' : 'primary'">
                    <input type="password" required matInput placeholder="Contraseña" name="password" minlength="6" ngModel
                           #userPassword="ngModel">
                    <mat-hint *ngIf="!userPassword.valid && !userPassword.pristine" class="warn-color">
                      {{userPassword.value.length}} / 6
                    </mat-hint>
                  </mat-input-container>
                  <mat-input-container
                    [dividerColor]="!checkPassword.valid && !checkPassword.pristine ? 'warn' : 'primary'">
                    <input type="password" required matInput placeholder="Confirma la contraseña" name="checkPassword" ngModel
                           #checkPassword="ngModel" [equalTo]="userPassword">
                    <mat-hint *ngIf="!checkPassword.valid && !checkPassword.pristine" class="warn-color">Las contraseñas no son iguales
                    </mat-hint>
                  </mat-input-container>
                </div>
              </div>
              <div>
                <button mat-raised-button color="primary" (click)="tabGroup.selectedIndex=1"
                        [disabled]="!loginForm.valid">Siguiente
                </button>
              </div>
            </form>
          </mat-tab>
          <mat-tab label="Paso 2" [disabled]="!loginForm.valid">
            <h5>Accesos de usuarios</h5>
            <form #addressForm="ngForm">
              <div>
                <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="25">
                  <div *ngFor="let item of moduleItems | async">
                    <div class="group" fxLayout="column" fxLayout.gt-md="row">
                      <mat-checkbox color="primary" (change)="onCheckboxChange(item)">{{item.nombre}}</mat-checkbox>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <button mat-raised-button color="primary" (click)="tabGroup.selectedIndex=0">Anterior</button>
                <button mat-raised-button color="primary" (click)="tabGroup.selectedIndex=2"
                        [disabled]="!addressForm.valid">Siguiente
                </button>
              </div>

            </form>
          </mat-tab>
          <mat-tab label="Paso 3" [disabled]="!loginForm.valid">
            <h5>Confirmacion de datos</h5>
            <mat-list>
              <mat-list-item>
                <h4 matLine>Nombre(s)</h4>
                <p matLine><em>{{userName.value}}</em></p>
              </mat-list-item>
              <mat-list-item>
                <h4 matLine>Apellido(s)</h4>
                <p matLine><em>{{userLastName.value}}</em></p>
              </mat-list-item>
              <mat-list-item *ngIf="userPhone.value">
                <h4 matLine>Telefono</h4>
                <p matLine><em>{{userPhone.value}}</em></p>
              </mat-list-item>
              <mat-list-item>
                <h4 matLine>Email</h4>
                <p matLine><em>{{userEmail.value}}</em></p>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
            <button mat-raised-button color="primary" (click)="onRegisterNewUser(loginForm)">Confirmar</button>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </article>
</section>
