<header class="header-container">
  <div class="container">
    <div class="top-row">
      <div class="row">
        <div class="col-md-2 col-sm-6 col-xs-6">
          <div id="logo">
            <!--<a href="index.html"><img src="images/logo.png" alt="logo"></a>-->
            <a [routerLink]="'/portal'"><span>COLMIL</span></a>
          </div>
        </div>
        <div class="col-sm-6 visible-sm">
          <div class="text-right"><button [routerLink]="'/login'" type="button" class="book-now-btn">Ingresar</button></div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12 remove-padd">
          <nav class="navbar navbar-default">
            <div class="navbar-header page-scroll">
              <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

            </div>
            <div class="collapse navigation navbar-collapse navbar-ex1-collapse remove-space">
              <ul class="list-unstyled nav1 cl-effect-10">
                <li><a data-hover="Postulacion" [routerLink]="'/postulacion'"><span>Postulacion</span></a></li>
                <li><a data-hover="Armas" [routerLink]="'/armas'"><span>Armas</span></a></li>
                <li><a data-hover="El ColMil" [routerLink]="'/colmil'"><span>El ColMil</span></a></li>
                <li><a data-hover="Galeria" [routerLink]="'/galeria'"><span>Galeria</span></a></li>
                <li><a data-hover="Colminotas" [routerLink]="'/colminotas'"><span>Colminotas</span></a></li>
                <li><a data-hover="Contacto" [routerLink]="'/contactos'"><span>Contactos</span></a></li>
              </ul>

            </div>
          </nav>
        </div>
        <div class="col-md-2  col-sm-4 col-xs-12 hidden-sm">
          <div class="text-right"><a href="http://localhost:4100/login" type="button" class="book-now-btn">Ingresar</a></div>
        </div>
      </div>
    </div>
  </div>
</header>