<section>
  <header>
    <h3 class="primary-color">Cards</h3>
  </header>
  <article>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutWrap>
      <div fxFlex="1 0 auto" fxFlex.gt-sm="50" fxFlex.gt-md="33">
        <mat-card class="card-type-first">
          <div class="img-wrap"></div>
          <mat-card-title>Content Title</mat-card-title>
          <mat-card-subtitle>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, soluta.</p>
          </mat-card-subtitle>
          <button mat-button>READ MORE</button>
          <button mat-button color="primary">BUY NOW</button>
        </mat-card>
        <mat-card class="card-type-second">
          <mat-card-footer class="white-text-color">
            <h5 class="push-bottom-xs">Title</h5>
            <div fxLayout="row" fxLayoutAlign="space-around center">
              <div fxFlex class="text-left">+ Colors</div>
              <div fxFlex class="text-right mat-headline">$ 99.99</div>
            </div>
          </mat-card-footer>
        </mat-card>
        <mat-card class="card-type-third">
          <div class="img-wrap"></div>
          <div fxLayout="row">
            <div fxFlex="50" fxLayoutAlign="start center">
              <span class="mat-title">$ 58,00</span>
            </div>
            <div fxFlex="50" class="icon-color" fxLayoutAlign="end center">
              <button mat-icon-button>
                <mat-icon>favorite</mat-icon>
              </button>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="1 0 auto" fxFlex.gt-sm="50" fxFlex.gt-md="33">
        <mat-card class="card-type-fourth">
          <mat-card-title-group>
            <mat-card-title>Card with title</mat-card-title>
            <mat-card-subtitle>Subtitle</mat-card-subtitle>
            <img mat-card-mat-image src="/assets/cards-demo/150150.png">
          </mat-card-title-group>
          <button mat-button>ACTION 1</button>
          <button mat-button>ACTION 2</button>
        </mat-card>
        <mat-card class="card-type-fifth">
          <div class="img-wrap"></div>
          <mat-card-actions align="end" class="icon-color">
            <button mat-icon-button>
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>bookmark</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="card-type-sixth primary-background-color primary-contrast-color">
          <div class="img-wrap"></div>
          <button mat-fab color="accent" class="float-fab">
            <mat-icon>add</mat-icon>
          </button>
          <mat-card-title> Content Title</mat-card-title>
          <mat-card-subtitle class="primary-contrast-color">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, soluta.</p>
          </mat-card-subtitle>
          <button mat-button>READ MORE</button>
          <button mat-button>BUY NOW</button>
        </mat-card>
      </div>
      <div fxFlex="1 0 auto" fxFlex.gt-sm="100" fxFlex.gt-md="33">
        <mat-card class="card-type-seventh">
          <mat-card-header>
            <img matCardAvatar src="/assets/avatars-img/4040.png">
            <mat-card-title>Leo Di</mat-card-title>
            <mat-card-subtitle>Castle</mat-card-subtitle>
          </mat-card-header>
          <div class="img-wrap"></div>
          <mat-card-content class="secondary-text-color">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolores et inventore placeat, provident
              quisquam!</p>
          </mat-card-content>
          <button mat-button>ACTION 1</button>
          <button mat-button>ACTION 2</button>
        </mat-card>
        <mat-card class="card-type-eighth">
          <mat-card-title-group>
            <mat-card-title>Some title</mat-card-title>
            <mat-card-subtitle>
              <div class="push-bottom-xs">Subtitle</div>
              <div>
                <mat-icon class="primary-text-color">star</mat-icon>
                <mat-icon class="primary-text-color">star</mat-icon>
                <mat-icon class="primary-text-color">star</mat-icon>
                <mat-icon class="primary-text-color">star</mat-icon>
                <mat-icon>star</mat-icon>
              </div>
            </mat-card-subtitle>
          </mat-card-title-group>
          <div class="img-wrap"></div>
        </mat-card>
        <mat-card class="primary-background-color primary-contrast-color">
          <mat-card-header class="primary-contrast-color">
            <mat-card-title>Mary Om</mat-card-title>
            <mat-card-subtitle class="primary-contrast-color">April 15, 2017</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolores et inventore placeat, provident
              quisquam!</p>
          </mat-card-content>
        </mat-card>

      </div>
    </div>
  </article>
</section>






