<section>
  <header>
    <h3 class="primary-color">Radar</h3>
  </header>
  <article>
    <mat-card>
      <mat-card-title>With area</mat-card-title>
      <mat-card-content>
        <div echarts [options]="areaOption" (chartInit)="chartInstances.push($event)" class="chart"></div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>With lines</mat-card-title>
      <mat-card-content>
        <div echarts [options]="lineOption" (chartInit)="chartInstances.push($event)" class="chart"></div>
      </mat-card-content>
    </mat-card>

  </article>
</section>
