<section>
  <header>
    <h3 class="primary-color">Typography</h3>
  </header>
  <article>
    <div fxLayout="row">
      <div fxFlex="100">
        <mat-card>
          <mat-card-title>Heading</mat-card-title>
          <mat-card-content>
            <div>
              <h1 class="text-break">Pixel Garden &lt;h1&gt;</h1>
              <h2>Pixel Garden &lt;h2&gt;</h2>
              <h3>Pixel Garden &lt;h3&gt;</h3>
              <h4>Pixel Garden &lt;h4&gt;</h4>
              <h5>Pixel Garden &lt;h5&gt;</h5>
              <h6>Pixel Garden &lt;h6&gt;</h6>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="1 0 auto" fxFlex.gt-sm="100">
        <mat-card>
          <mat-card-title>Roboto</mat-card-title>
          <mat-card-content>
            <div class="h3 font-w-thin-im">Lorem ipsum. Thin</div>
            <div class="h3 font-w-light-im">Lorem ipsum. Light</div>
            <div class="h3 font-w-regular-im">Lorem ipsum. Regular</div>
            <div class="h3 font-w-medium-im">Lorem ipsum. Medium</div>
            <div class="h3 font-w-bold-im">Lorem ipsum. Bold</div>
            <div class="h3 font-w-black-im">Lorem ipsum. Black</div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="1 0 auto" fxFlex.gt-sm="100">
        <mat-card>
          <mat-card-title>Roboto italic</mat-card-title>
          <mat-card-content>
            <div class="h3 font-w-thin-im"><em>Lorem ipsum. Thin italic</em></div>
            <div class="h3 font-w-light-im"><em>Lorem ipsum. Light italic</em></div>
            <div class="h3 font-w-regular-im"><em>Lorem ipsum. Regular italic</em></div>
            <div class="h3 font-w-medium-im"><em>Lorem ipsum. Medium italic</em></div>
            <div class="h3 font-w-bold-im"><em>Lorem ipsum. Bold italic</em></div>
            <div class="h3 font-w-black-im"><em>Lorem ipsum. Black italic</em></div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div fxLayout="column" fxLayout.gt-md="row">
      <div fxFlex="1 0 auto" fxFlex.gt-md="33">
        <div>
          <mat-card>
            <mat-card-title>Body text</mat-card-title>
            <mat-card-content>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sunt.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ipsam nemo officiis pariatur.
                Accusamus ad, cumque deleniti dolore eius et eveniet excepturi libero obcaecati officia quas quasi
                quis
                vero voluptatibus.</p>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-title>Bold</mat-card-title>
            <mat-card-content>
              <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at, debitis ducimus porro
                praesentium tempore!</strong>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-title>Alignment classes</mat-card-title>
            <mat-card-content>
              <p class="text-left">Left aligned text.</p>
              <p class="text-center">Center aligned text.</p>
              <p class="text-right">Right aligned text.</p>
              <p class="text-justify">Justified text.</p>
              <p class="text-nowrap">No wrap text.</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div fxFlex="1 0 auto" fxFlex.gt-md="33">
        <div>
          <mat-card>
            <mat-card-title>Marked text</mat-card-title>
            <mat-card-content>
              Lorem
              <mark> ipsum dolor</mark>
              sit amet, consectetur adipisicing elit. Ducimus, quo.
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-title>Small text</mat-card-title>
            <mat-card-content>
              <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem est inventore nemo nihil
                quisquam
                reiciendis voluptatum.
              </small>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-title>Italics</mat-card-title>
            <mat-card-content>
              <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At blanditiis cum repudiandae saepe
                vel.</em>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-title>Blockquotes</mat-card-title>
            <mat-card-content>
              <blockquote class="blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eum explicabo porro?</p>
                <footer class="blockquote-footer">Lorem ipsum dolor sit.</footer>
              </blockquote>
              <blockquote class="blockquote blockquote-reverse">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eum explicabo porro?</p>
                <footer class="blockquote-footer">Lorem ipsum dolor sit.</footer>
              </blockquote>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div fxFlex="1 0 auto" fxFlex.gt-md="33">
        <div>
          <mat-card>
            <mat-card-title>Deleted and strikethrough text</mat-card-title>
            <mat-card-content>
              <p>
                <del>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, perferendis?</del>
              </p>
              <p>
                <s>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, perferendis.</s>
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-title>Transformation classes</mat-card-title>
            <mat-card-content>
              <p class="text-lower">Lowercased text.</p>
              <p class="text-upper">Uppercased text.</p>
              <p class="text-caps">Capitalized text.</p>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-title>Text colors</mat-card-title>
            <mat-card-content>
              <p class="primary-text-color">Primary text color</p>
              <p class="secondary-text-color">Secondary text color</p>
              <p class="primary-color-dark">Primary dark color</p>
              <p class="primary-color">Primary color</p>
              <p class="primary-color-light">Primary light color</p>
              <p class="accent-color">Accent color</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </article>
</section>
