<div id="page">
  <!--header--->
  <app-portal-header-page></app-portal-header-page>

  <section class="about-block">
    <div class="container">
      <div class="row">
        <div class="col-md-5 about-left">
          <p>La Historia <img src="../../../assets/portal/images/lol.jpg" alt="" style="left: 20%; position: relative;"></p>
        </div>
        <div class="col-md-7 about-right">
          <h3>Historia del Colegio Militar del Ejercito</h3>
          <div style="text-align:justify">
            <p>El Colegio Militar, fue fundado mediante Decreto Supremo del Libertador Simón Bolívar el 13 de Diciembre de 1.825. Su diseño fue concebido por el Mariscal Antonio José de Sucre con marcada influencia de la Escuela Politécnica de París, esto  le permitió otorgarle un perfil académico comparable a la existente en esa época.
              <br>
              <br>
              A raíz de la inestabilidad política en el país, nuestro primer instituto de formación funcionó de manera discontinua en sus actividades:
              <br>
              <br>
              El 22 de abril de 1.842, el Mariscal José Ballivián, ordena el traslado  del Colegio Militar a la ciudad de La Paz; posteriormente dispone su traslado a la Hacienda de Mecapaca, en las cercanías de esta ciudad.
              <br>
              <br>
              El año 1.859 se estableció en el pueblo de Sapahaqui una Academia Militar acorde con las necesidades de defensa de la Nación.
              <br>
              <br>
              Luego de prolongadas clausuras y fugaces reaperturas académicas, el 18 de abril  de 1.891, durante el gobierno de Aniceto Arce, se produce su reapertura definitiva bajo la dirección del Gral. Brig. Pedro Villamil, con 7 Oficiales y 27 Cadetes.
              <br>
              <br>
              En el periodo 1.932-1935, durante la Guerra del Chaco, destacó el heroísmo del soldado boliviano, pero también resaltó la estirpe patriótica de los Cadetes del Colegio Militar. Los dos cursos superiores, el 5to. y 4to. año fueron movilizados a principios de 1933.
              <br>
              <br>
              El 6 de octubre del mismo año, se produjo un gesto invalorable que hoy constituye una de las gestas más generosas de patriotismo; el Batallón de adolescentes y jóvenes Cadetes del 1ro. 2do. y 3er. año militar, respondió al llamado de su Comandante de Batallón, dando “TRES PASOS AL FRENTE” al unísono, para dirigirse al frente de batalla  y defender la soberanía e integridad de la Patria. La mayoría de ellos nunca más volvió.
              <br>
              <br>
              Durante la Presidencia del Tcnl. Germán Busch Becerra en el año 1.939 y viendo la necesidad de contar con una nueva instalación, se elige la zona de Irpavi; donde se coloca la piedra fundamental y posteriormente, el 18 de abril de 1.941, se inaugura el nuevo edificio donde actualmente funciona el Colegio Militar.
              <br>
              <br>
              Por Decreto Supremo No. 03458 de Julio de 1.953, el Primer Instituto de Formación Militar ostenta la denominación de "CNL. GUALBERTO VILLARROEL", como justo reconocimiento y homenaje a un insigne militar patriota que vislumbró mejores días para la Nación.
              <br>
            </p>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </section>
  <section class="about-block">
    <div class="container">
      <div class="row">
        <div class="col-md-5 about-left">
          <p>Mision/Vision <img src="../../../assets/portal/images/vet.jpg" alt="" style="left: 20%; position: relative;"></p>
        </div>
        <div class="col-md-7 about-right">
          <h3>Mision del Colegio Militar del Ejercito</h3>
          <div style="text-align:justify">
            El Colegio Militar del Ejército, forma Oficiales de Ejército, Licenciados en Ciencia y Arte Militar Terrestre, con profundos valores ético morales y férrea disciplina; con el propósito de proporcionar a la Institución Subtenientes altamente capacitados como líderes, planificadores, administradores, instructores, promotores del desarrollo integral y conductores de operaciones militares en el nivel Sección de las diferentes armas del Ejército, comprometidos profundamente con los objetivos del Estado Plurinacional.
            <br>
            <br>
            <br>
            <h3>Vision del Colegio Militar del Ejercito</h3>
            <br>
            <br>
            Constituirse en el Instituto de Formación de los mejores líderes militares, en el ámbito nacional, con repercusión internacional.
            <br>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </section>
  <section class="about-block">
    <div class="container">
      <div class="row">
        <div class="col-md-5 about-left">
          <p>El Himno <iframe style="width: 300px; left: 20%; position: relative;" width="560" height="315" src="https://www.youtube.com/embed/PrQSJUStabI" frameborder="0" allowfullscreen></iframe></p>
        </div>
        <div class="col-md-7 about-right">
          <h3>Himno al Colegio Militar del Ejercito</h3>
          <div class="shop-list">
            <h3>Letra y Musica: Adrián Patiño Carpio</h3>
            <ul>

              <p>
                Es  deber del que aspira a la espada
                <br>
                Sostener el Honor Nacional
                <br>
                Custodiar la bandera sagrada
                <br>
                Y ensalzarla en su avance triunfal
                <br>
                <br>
                <br>
                Caballería, Artillería, Infantería
                <br>
                Son las tres armas que han de dar
                <br>
                Severas normas de hidalguía
                <br>
                En el Colegio Militar
                <br>
                <br>
                <br>

                De los héroes nativos tenemos
                <br>
                Un camino de luz a seguir
                <br>
                Realizar los ideales supremos
                <br>
                Al confiar nuestra fe al porvenir
                <br>
                <br>
                <br>

                Esa encendida trayectoria
                <br>
                Consagrara nuestro plantel
                <br>
                Será la excelsa ejecutora
                <br>
                Para el castillo y el laurel,
                <br>
                Para el castillo y el laurel.
              </p>



            </ul>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </section>

  <!---footer--->
  <app-portal-footer-page></app-portal-footer-page>

  <!--back to top--->
  <a style="display: none;" href="javascript:void(0);" class="scrollTop back-to-top" id="back-to-top">
    <span><i aria-hidden="true" class="fa fa-angle-up fa-lg"></i></span>
    <span></span>
  </a>

</div>