<section>
  <header>
    <h3 class="primary-color">Chips</h3>
  </header>
  <article>
    <mat-card>
      <mat-card-content>
        <mat-chip-list>
          <mat-chip>First</mat-chip>
          <mat-chip color="primary" selected="true">Second</mat-chip>
          <mat-chip color="accent" selected="true">Third</mat-chip>
          <mat-chip color="warn" selected="true">Fourth</mat-chip>
          <mat-chip [disabled]="true">Disabled</mat-chip>
        </mat-chip-list>
        <br>
        <div>Users can move through the chips using the arrow keys and select/deselect them with the space.</div>
      </mat-card-content>
    </mat-card>
  </article>
</section>
