<div id="page">
  <!--header--->
  <app-portal-header-page></app-portal-header-page>

  <div class="container row" style="flex-direction: column!important; margin: 10px;">
    <div class="center">
      <h3>INSCRIPCIÓN</h3>
    </div>
    <div class="text-left">
      <h4>Centros de Inscripción</h4>
      <p>Los interesados podrán presentarse en los siguientes Centros de Inscripción para la adquisición del PROSPECTO DE ADMISIÓN.</p>
      <table>
        <tr>
          <td>La Paz</td>
          <td>
            Colegio Militar del Ejército.
            Departamento VI “EDUCACIÓN” (Estado Mayor)
          </td>
        </tr>
        <tr>
          <td>Viacha</td>
          <td>División Mecanizada 1</td>
        </tr>
        <tr>
          <td>Caranavi</td>
          <td>BATING. II “GRAL. ROMÁN”</td>
        </tr>
        <tr>
          <td>Oruro</td>
          <td>Segunda División de Ejército.</td>
        </tr>
        <tr>
          <td>Potosí</td>
          <td>RI - 3 “PÉREZ”.</td>
        </tr>
        <tr>
          <td>Tupiza</td>
          <td>Décima División de Ejército.</td>
        </tr>
        <tr>
          <td>Cochabamba</td>
          <td>Séptima División de Ejército.</td>
        </tr>
        <tr>
          <td>Ibuelo (Trópico de Cochabamba)</td>
          <td>Novena División de Ejército.</td>
        </tr>
        <tr>
          <td>Sucre</td>
          <td>RI-2 “SUCRE”</td>
        </tr>
        <tr>
          <td>Tarija</td>
          <td>RI-20 “PADILLA”</td>
        </tr>
        <tr>
          <td>Yacuiba</td>
          <td>RC - 3 “AROMA”.</td>
        </tr>
        <tr>
          <td>Villamontes</td>
          <td>Tercera División de Ejército.</td>
        </tr>
        <tr>
          <td>Cobija</td>
          <td>Primera División de Ejército</td>
        </tr>
        <tr>
          <td>Trinidad</td>
          <td>Sexta División de Ejército.</td>
        </tr>
        <tr><td>Riberalta</td>
          <td>Reg. Sat. Selva 18 “JORDÁN” (CIOS).</td></tr>
        <tr><td>Santa Cruz</td>
          <td>Octava División de Ejército.</td></tr>
        <tr><td>Robore</td>
          <td>Quinta División de Ejército.</td></tr>
        <tr><td>Camiri</td>
          <td>Cuarta División de Ejército.</td></tr>
        <tr><td>Montero</td>
          <td>Reg. Sat. Selva 12 “MANCHEGO”</td></tr>
        <tr><td>San Ignacio de Velasco</td>
          <td>RI-10 “WARNES”</td></tr>
      </table>
      <h4>Registro.</h4>
      <p>El o la aspirante a Postulante, una vez adquirido el Prospecto de Admisión, deberá realizar su registro en la página web del Colegio Militar del Ejército, www.colmil.edu.bo  hasta el último día hábil  antes de presentarse a rendir sus exámenes de admisión, especificando el lugar de postulación (donde adquirió el Prospecto de Admisión), mismo que por ningún motivo podrá ser modificado.</p>

    </div>
    <div class="center">
      <h3>POSTULACIÓN</h3>
    </div>
    <div class="text-left">
      <h4>Requisitos para la postulación</h4>
      <p>Los interesados podrán presentarse en los siguientes Centros de Inscripción para la adquisición del PROSPECTO DE ADMISIÓN.</p>
      <table>
        <tr>
          <td>1. </td><td>Ser de nacionalidad boliviana.</td>
        </tr>
        <tr>
          <td>2. </td><td>Tener como máximo 23 años cumplidos hasta el 31 de Diciembre del 2017.</td>
        </tr>
        <tr>
          <td>3. </td><td>Ser bachiller o estar cursando el Sexto Año de Secundaria durante la presente gestión.</td>
        </tr>
        <tr>
          <td>4. </td><td>Tener conocimientos básicos de artes marciales (JIU JITSU, TAE KWON DO) </td>
        </tr>
        <tr>
          <td>5. </td><td>Haber realizado el Servicio Militar Obligatorio o Servicio Pre-Militar.</td>
        </tr>
        <tr>
        <td>6. </td><td>NO tener sentencia ejecutoriada, arraigos, procesos
        judiciales pendientes u otros, que requieran la presencia física
        del Postulante durante su formación.
          </td>formación.
        </tr>
        <tr>
          <td>7. </td><td>NO haber sido dado de baja de ningún Instituto Militar
          o Policial por razones disciplinarias.</td>
        </tr>
        <tr>
          <td>8. </td><td>Tener conocimientos básicos del idioma ingles y
          originario.</td>
        </tr>
      </table>
      <h4> Documentos que deben presentar obligatoriamente los postulantes, para ingresar a los exámenes de selección.</h4>
      <p>En un folder color amarillo forrado con plástico transparente con la caratula del Instituto (descargar de la página web)  nombre del postulante :</p>

      <div class="col-md-12">
        <div class="col-md-6">
          <table>
            <tr><td>1. </td><td> Fotocopia de la boleta de pago del Prospecto de Admisión.</td></tr>
            <tr><td>2. </td><td> Certificado de nacimiento original computarizado (Estado Plurinacional de Bolivia).</td></tr>
            <tr><td>3. </td><td> Fotocopia del Carnet de Identidad.</td></tr>
            <tr><td>4. </td><td> Libreta del Servicio Militar o Premilitar (varones).</td></tr>
            <tr><td>5. </td><td> Certificado del REJAB.</td></tr>
            <tr><td>6. </td><td> Fotocopia del título de bachiller o certificado original de encontrarse cursando el sexto de secundaria emitido por el SEDUCA.</td></tr>
            <tr><td>7. </td><td> Certificado de haber realizado un curso básico de artes
              marciales (JIU JITSU, TAE KWON DO) expedido por escuelas de estas
              artes marciales.</td></tr>
            <tr><td>8. </td><td> Certificado de no hacer sido dado de baja de ningún Instituto Militar o Policíal por razones disciplinarias. </td></tr>
            <tr><td>9. </td><td> Certificado  de no descendencia emitido por el SERECI.</td></tr>
          </table>
        </div>
        <div class="col-md-6">
          <img src="images/est.png" alt="">
        </div>
      </div>

    </div>
    <div class="center">
      <h3> ASPECTOS A SER EVALUADOS DURANTE EL PROCESO DE SELECCIÓN Y ADMISIÓN.</h3>
    </div>
    <div class="text-left">
      <h4> Evaluación psicológico – vocacional</h4>

      <p>El o la aspirante a Postulante debe aprobar el examen psicológico - vocacional, el mismo que le habilita para continuar con el proceso de selección.</p>
      <h4>Exámenes de conocimiento intelectual</h4>

      <p>Esta evaluación consta de 2 partes; la primera parte referida a conocimientos teóricos de las materias de Ciencias Sociales (Historia, Cívica, Geografía y Lenguaje); la segunda parte, referida exclusivamente al conocimiento de las Ciencias Exactas (Matemáticas, Física).</p>
      <p>Ambas partes deben ser APROBADAS para continuar el proceso de selección</p>

      <h4>Revisión médica para someterse al examen físico</h4>
      <p>Para la revisión médica, todos los aspirantes a postulantes, deberán traer consigo los exámenes médicos que se describe en el cuadro que se muestra en el Cuadro No.1.</p>
      <p>Esta evaluación durante el proceso de selección y admisión de postulantes, se regirá exclusivamente a la valoración general, que habilite al aspirante a postulante para someterse al examen físico y de natación.</p>
      <p>Aquel aspirante a postulante que durante la revisión médica, no apruebe la misma, inmediatamente será separado del proceso de selección y admisión.</p>
      <p>Los exámenes complementarios para determinar si es APTO o NO APTO para la carrera militar, deberán ser entregados al presentarse al Curso Vestibular solamente aquellos postulantes que sean aceptados a este curso.</p>
      <h4> Examen físico</h4>
      <p>La evaluación física se desarrollará de acuerdo a las marcas y tiempos establecidos en la Guía de Evaluación y Estudios (Adjunto al Prospecto de  Admisión), siendo un requisito vencer cada una de las pruebas físicas.</p>
      <h4>Prueba de natación</h4>
      <p>Es un requisito imprescindible nadar 50 metros en la piscina (estilo Libre o Crol), no siendo permitido ningún estilo de flotación. El aspirante a postulante que NO APRUEBE será separado del proceso de selección.</p>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>N°</th>
        <th>ASPECTOS A SER EVALUADOS</th>
        <th>CRITERIO DE EVALUACIÓN</th>
      </tr>
      </thead>
      <tbody>
      <tr><td>1</td><td>
        EXAMEN PSICOLÓGICO - VOCACIONAL:
        Aspectos de personalidad.
        Aptitudes vocacionales.
        Manejo de valores.
        Características de liderazgo.
        Alteraciones psicológicas.</td><td>
        APROBÓ / NO APROBÓ</td>
      </tr><tr><td>2</td><td>
        REVISIÓN MÉDICA Y DE LABORATORIO PARA SOMETERSE AL EXAMEN FÍSICO:

        Certificado médico general.
        Electrocardiograma.
        Hemograma completo.
        Grupo sanguíneo.
        BHCG (Para damas).</td><td>
        APROBÓ / NO APROBÓ</td>
      </tr><tr><td>3</td><td>
        EXÁMENES DE CONOCIMIENTO INTELECTUAL:
        1ra. parte (50%):
        Historia.
        Cívica.
        Geografía.
        Lenguaje (Ortografía y Gramática).
        2da. Parte (50%):
        Matemáticas (Aritmética, Algebra, Trigonometría y Geometría Analítica).
        Física</td><td>
        Deben aprobar ambas partes del examen, el promedio constituirá el
        80% </td>
      </tr><tr><td>4</td><td>
        EXAMEN FÍSICO:
        Prueba aeróbica (3.200 mts.).
        Flexiones de brazo en suelo.
        Abdominales.</td><td>
        Deben aprobar las 3 pruebas, el promedio constituirá
        20%</td>
      </tr><tr><td>5</td><td>
        NATACIÓN:
        50 mts. estilo Libre o Crol.</td><td>
        APROBÓ/NO APROBÓ</td>
      </tr><tr><td>6</td><td>
        Relación Peso – Estatura</td><td>
        APROBÓ/NO APROBÓ</td>
      </tr><tr><td colspan="2">NOTA FINAL</td><td>
        SUMA DE PROMEDIOS (100%)</td></tr>

      </tbody>


    </table>
    <div class="text-left">
      <h4>NOTA: </h4>
      <table>
        <tr><td>1 </td><td> Todos los exámenes serán calificados con la nota del 1 al 100.</td></tr>
        <tr><td>2 </td><td> Los promedios finales serán obtenidos solamente de los aspirantes a postulantes que aprobaron las dos partes del examen intelectual y las tres pruebas del examen físico.</td></tr>
        <tr><td>3 </td><td> El aspirante a postulante que NO APRUEBE ALGUNO DE LOS EXÁMENES: PSICOLÓGICO - VOCACIONAL, INTELECTUAL, MÉDICO, FÍSICO O LA PRUEBA DE NATACIÓN, quedará excluido del proceso en forma inmediata por no reunir las condiciones necesarias para la profesión militar.</td></tr>
        <tr><td>4 </td><td>Para la elaboración de la lista de postulantes aceptados, según orden de mérito, se tomará en cuenta: el promedio del examen de conocimiento intelectual con un valor del 80%, más el promedio del examen físico con un valor del 20%, haciendo un total del 100%.</td></tr>
      </table>
    </div>
    <div class="center">
      <h3>PROMEDIO EXAMEN INTELECTUAL (80%) + PROMEDIO EXAMEN FÍSICO (20%)</h3>
    </div>
    <table>
      <tr><td>5</td><td> La nota final será expresada con un valor numeral del 1 al 100.</td></tr>
      <tr><td>6</td><td> La lista de aspirantes a postulantes aprobados se elaborará, en base a la nota final obtenida, en estricto orden de mérito, de la más alta a la más baja hasta llegar al número de vacancias establecidas por Departamentos de acuerdo a los porcentajes.</td></tr>
      <tr><td>7</td><td> Los aspirantes a postulantes a las becas académicas y deportivas que otorga el COLMIL. quedan exentos de rendir el examen de conocimiento intelectual, debiendo cumplir solamente los exámenes médicos, psicológicos y físicos.</td></tr>
    </table>
  </div>



  <!---footer--->
  <app-portal-footer-page></app-portal-footer-page>

  <!--back to top--->
  <a style="display: none;" href="javascript:void(0);" class="scrollTop back-to-top" id="back-to-top">
    <span><i aria-hidden="true" class="fa fa-angle-up fa-lg"></i></span>
    <span></span>
  </a>

</div>