<div id="page">
  <!--header--->
  <app-portal-header-page></app-portal-header-page>

  <!--end-->
  <div id="myCarousel1" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->

    <ol class="carousel-indicators">
      <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel1" data-slide-to="1"></li>
      <li data-target="#myCarousel1" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active"> <img src="../../../assets/portal/images/imagen11.jpg" style="width:100%; height: 500px" alt="First slide">
        <div class="carousel-caption">
          <h1>ECUANIMIDAD</h1>
        </div>
      </div>
      <div class="item"> <img src="../../../assets/portal/images/imagen22.jpg" style="width:100%; height: 500px" alt="Second slide">
        <div class="carousel-caption">
          <h1>INTEGRIDAD</h1>
        </div>
      </div>
      <div class="item"> <img src="../../../assets/portal/images/to.jpg" style="width:100%; height: 500px" alt="Third slide">
        <div class="carousel-caption">
          <h1>RESPONSABILIDAD</h1>
        </div>
      </div>

    </div>
    <a class="left carousel-control" href="#myCarousel1" data-slide="prev"> <img src="../../../assets/portal/images/icons/left-arrow.png" onmouseover="this.src = '../../../assets/portal/images/icons/left-arrow-hover.png'" onmouseout="this.src = '../../../assets/portal/images/icons/left-arrow.png'" alt="left"></a>
    <a class="right carousel-control" href="#myCarousel1" data-slide="next"><img src="../../../assets/portal/images/icons/right-arrow.png" onmouseover="this.src = '../../../assets/portal/images/icons/right-arrow-hover.png'" onmouseout="this.src = '../../../assets/portal/images/icons/right-arrow.png'" alt="left"></a>

  </div>
  <div class="clearfix"></div>

  <!--gallery block--->
  <section class="gallery-block gallery-front">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="gallery-image">
            <img class="img-responsive" src="../../../assets/portal/images/es.png">
            <div class="overlay">
              <a class="info pop example-image-link img-responsive" href="../../../assets/portal/images/es.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
              <p><a>Infanteria</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="gallery-image">
            <img class="img-responsive" src="../../../assets/portal/images/cab.png">
            <div class="overlay">
              <a class="info pop example-image-link img-responsive" href="../../../assets/portal/images/cab.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
              <p><a>Caballería</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="gallery-image">
            <img class="img-responsive" src="../../../assets/portal/images/agila.png">
            <div class="overlay">
              <a class="info pop example-image-link img-responsive" href="../../../assets/portal/images/agila.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
              <p><a>Logística</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="gallery-image">
            <img class="img-responsive" src="../../../assets/portal/images/cast.png">
            <div class="overlay">
              <a class="info pop example-image-link img-responsive" href="../../../assets/portal/images/cast.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
              <p><a>Ingeniería</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="gallery-image">
            <img class="img-responsive" src="../../../assets/portal/images/art.png">
            <div class="overlay">
              <a class="info pop example-image-link img-responsive" href="../../../assets/portal/images/art.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
              <p><a>Artillería</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="gallery-image">
            <img class="img-responsive" src="../../../assets/portal/images/com.png">
            <div class="overlay">
              <a class="info pop example-image-link img-responsive" href="../../../assets/portal/images/com.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
              <p><a>Comunicaciones</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End-->

  <!-----blog slider----->
  <!--blog trainer block-->
  <section class="blog-block-slider">
    <div class="blog-block-slider-fix-image">
      <div id="myCarousel2" class="carousel slide" data-ride="carousel">
        <div class="container">
          <!-- Wrapper for slides -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel2" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <div class="blog-box">
                <p>El Colegio Militar del Ejército, forma Oficiales de Ejército,Licenciados en
                  Ciencia y Arte Militar Terrestre, con profundos valores ético morales y
                  férrea disciplina; con el propósito de proporcionar a la Institución
                  Subtenientes altamente capacitados como líderes, planificadores,
                  administradores, instructores, promotores del desarrollo integral
                  y conductores de operaciones militares en el nivel Sección de las
                  diferentes armas del Ejército, comprometidos profundamente con los
                  objetivos del Estado Plurinacional.</p>
              </div>
              <div class="blog-view-box">
                <div class="media">
                  <div class="media-body">
                    <h3 class="media-heading blog-title">Colegio Militar del Ejercito</h3>
                    <h5 class="blog-rev">MISION</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="blog-box">
                <p>Constituirse en el Instituto de Formación de los mejores líderes militares, en el ámbito nacional, con repercusión internacional.</p>
              </div>
              <div class="blog-view-box">
                <div class="media">
                  <div class="media-body">
                    <h3 class="media-heading blog-title">Colegio Militar del Ejercito</h3>
                    <h5 class="blog-rev">VISION</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>

  <!---footer--->
  <app-portal-footer-page></app-portal-footer-page>

  <!--back to top--->
  <a style="display: none;" href="javascript:void(0);" class="scrollTop back-to-top" id="back-to-top">
    <span><i aria-hidden="true" class="fa fa-angle-up fa-lg"></i></span>
    <span></span>
  </a>

</div>