<section>
  <header>
    <h3 class="primary-color">Drag and Drop</h3>
  </header>
  <article>
    <div fxlayout="column" fxLayout.gt-sm="row">
      <mat-card fxFlex="50">
        <mat-card-title>Drag from</mat-card-title>
        <mat-card-content>
          <mat-list>
            <div [dragula]='"bag-one"' [dragulaModel]='links' class="drag-container">
              <mat-list-item *ngFor="let link of links" class="cursor-pointer">
                <mat-icon class="icon-color" mat-list-icon>folder</mat-icon>
                <span matLine>{{ link.name }}</span>
                <span matLine class="secondary-text-color"> Some description </span>
              </mat-list-item>
            </div>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card fxFlex="50">
        <mat-card-title>Drag to</mat-card-title>
        <mat-card-content>
          <mat-list>
            <div [dragula]='"bag-one"' [dragulaModel]='otherLinks' class="drag-container">
              <mat-list-item *ngFor="let link of otherLinks" class="cursor-pointer">
                <mat-icon class="icon-color" mat-list-icon>folder</mat-icon>
                <span matLine>{{ link.name }}</span>
                <span matLine class="secondary-text-color"> Some description </span>
              </mat-list-item>
            </div>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </article>
</section>
