<div id="page">
  <!--header--->
  <app-portal-header-page></app-portal-header-page>

  <section class="about-block">
    <div class="container">
      <div class="row">
        <div class="col-md-5 about-left">
          <p>Infanteria <img src="../../../assets/portal/images/ama.png" alt="" style="left: 50%; position: relative;"></p>
        </div>
        <div class="col-md-7 about-right">
          <h3>Arma de Infanteria</h3>
          <p>Es el Arma basica del Ejercito , esta organizada euipada e instruida para establecer
            contacto entrar en combate y aniquilar al enemigo , mediante el fuego , el movimiento y
            la accion de choque. Es el Arma imprescindible para conquistar y mantener el terreno.</p>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </section>
  <section class="about-block">
    <div class="container">
      <div class="row">
        <div class="col-md-5 about-left">
          <p>Caballeria <img src="../../../assets/portal/images/cab.png" alt="" style="left: 50%; position: relative;"></p>
        </div>
        <div class="col-md-7 about-right">
          <h3>Arma de Caballeria</h3>
          <p>Es el Arma organizada, equipada e instruida para establecer contacto
            con el enemigo , realizar reconocimientos en profundidad y proporcionar
            seguridad a las propias fuerzas , aprovechando su movilidad y maniobrabilidad.</p>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </section>
  <section class="about-block">
    <div class="container">
      <div class="row">
        <div class="col-md-5 about-left">
          <p>Artilleria <img src="../../../assets/portal/images/art.png" alt="" style="left: 50%; position: relative;"></p>
        </div>
        <div class="col-md-7 about-right">
          <h3>Arma de Artilleria</h3>
          <p>Es el Arma organizada , equipada e instruida ,táctica
            y técnicamente para conducir potentes masas de fuego
            sobre grandes espacios , tanto en frente como en
            profundidad del campo de batalla.</p>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </section>
  <section class="about-block">
    <div class="container">
      <div class="row">
        <div class="col-md-5 about-left">
          <p>Ingenieria <img src="../../../assets/portal/images/cast.png" alt="" style="left: 50%; position: relative;"></p>
        </div>
        <div class="col-md-7 about-right">
          <h3>Arma de Ingenieria</h3>
          <p>Es el Arma organizada, equipada e instruida , tactica y
            tecnicamente , para proporcionar apoyo de combate y servicio
            tecnico a las demas armas , mediante la ejecucion de trabajo
            de movilidad , contra movilidad y supervivencia , tendientes
            a facilitar las operaciones . Brinda apoyo en tiempo de paz y
            en tiempo de guerra.</p>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </section>
  <section class="about-block">
    <div class="container">
      <div class="row">
        <div class="col-md-5 about-left">
          <p>Comunicaciones <img src="../../../assets/portal/images/com.png" alt="" style="left: 50%; position: relative;"></p>
        </div>
        <div class="col-md-7 about-right">
          <h3>Arma de Comunicaciones</h3>
          <p>Es el Arma organizada , equipada e instruida
            para proporcionar apoyo del combate y servicio
            tecnico a las otras armas mediante: la instalacion ,
            operacion y mantenimiento del sistemas de comunicacion
            , permitiendo el comando y control en las operaciones.</p>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </section>
  <section class="about-block">
    <div class="container">
      <div class="row">
        <div class="col-md-5 about-left">
          <p>Logistica <img src="../../../assets/portal/images/agila.png" alt="" style="left: 50%; position: relative;"></p>
        </div>
        <div class="col-md-7 about-right">
          <h3>Arma de Logistica</h3>
          <p>Es el Arma organizada , euipada e instruida, para proporcionar
            apoyo logistico en las areas de abastecimiento , evacuacion ,
            transporte , mantenimiento y asesoramiento de las unidades ,
            en las diferentes operaciones.</p>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </section>

  <!---footer--->
  <app-portal-footer-page></app-portal-footer-page>

  <!--back to top--->
  <a style="display: none;" href="javascript:void(0);" class="scrollTop back-to-top" id="back-to-top">
    <span><i aria-hidden="true" class="fa fa-angle-up fa-lg"></i></span>
    <span></span>
  </a>

</div>