<section>
  <header>
    <h3 class="primary-color">Toolbar</h3>
  </header>
  <article>
    <mat-card>
      <mat-card-content>
        <p>
          <mat-toolbar>
            <mat-icon>menu</mat-icon>
            <span>Default Toolbar</span>

            <span fxFlex></span>

            <mat-icon>code</mat-icon>
          </mat-toolbar>
        </p>

        <p>
          <mat-toolbar color="primary">
            <mat-icon>menu</mat-icon>
            <span>Primary Toolbar</span>

            <span fxFlex></span>

            <mat-icon>code</mat-icon>
          </mat-toolbar>
        </p>

        <p>
          <mat-toolbar color="accent">
            <mat-icon>menu</mat-icon>
            <span>Accent Toolbar</span>

            <span fxFlex></span>

            <mat-icon>code</mat-icon>
          </mat-toolbar>
        </p>

        <p>
          <mat-toolbar color="accent">
            <mat-toolbar-row>
              <span>Custom Toolbar</span>
            </mat-toolbar-row>
            <mat-toolbar-row>
              <span>Second Line</span>
            </mat-toolbar-row>
          </mat-toolbar>
        </p>

        <p>
          <mat-toolbar color="primary">
            <mat-toolbar-row>
              <span>Custom Toolbar</span>
            </mat-toolbar-row>

            <mat-toolbar-row>
              <span>Second Line</span>
              <span fxFlex></span>
              <mat-icon>verified_user</mat-icon>
            </mat-toolbar-row>

            <mat-toolbar-row>
              <span>Third Line</span>
              <span fxFlex></span>
              <mat-icon>favorite</mat-icon>
              <mat-icon>delete</mat-icon>
            </mat-toolbar-row>
          </mat-toolbar>
        </p>
      </mat-card-content>
    </mat-card>
  </article>
</section>
