<section>
  <header>
    <h3 class="primary-color">Color</h3>
  </header>
  <article>

    <div fxLayout="column" fxLayout.gt-md="row">
      <div fxFlex="1 0 auto"  fxFlex.gt-md="33">
        <mat-card>
          <mat-card-title>Red</mat-card-title>
          <mat-card-content>
            <app-palette [colors]="matRed" [contrastColors]="matRedContrast"></app-palette>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="1 0 auto"  fxFlex.gt-md="33">
        <mat-card>
          <mat-card-title>Pink</mat-card-title>
          <mat-card-content>
            <app-palette [colors]="matPink" [contrastColors]="matPinkContrast"></app-palette>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="1 0 auto"  fxFlex.gt-md="33">
        <mat-card>
          <mat-card-title>Purple</mat-card-title>
          <mat-card-content>
            <app-palette [colors]="matPurple" [contrastColors]="matPurpleContrast"></app-palette>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div fxLayout="column" fxLayout.gt-md="row">
      <div fxFlex="1 0 auto" fxFlex.gt-md="33">
        <mat-card>
          <mat-card-title>Deep Purple</mat-card-title>
          <mat-card-content>
            <app-palette [colors]="matDeepPurple" [contrastColors]="matDeepPurpleContrast"></app-palette>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="1 0 auto" fxFlex.gt-md="33">
        <mat-card>
          <mat-card-title>Indigo</mat-card-title>
          <mat-card-content>
            <app-palette [colors]="matIndigo" [contrastColors]="matIndigoContrast"></app-palette>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="1 0 auto" fxFlex.gt-md="33">
        <mat-card>
          <mat-card-title>Blue</mat-card-title>
          <mat-card-content>
            <app-palette [colors]="matBlue" [contrastColors]="matBlueContrast"></app-palette>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div fxLayout="column" fxLayout.gt-md="row">
      <div fxFlex="1 0 auto" fxFlex.gt-md="33">
        <mat-card>
          <mat-card-title>Light Blue</mat-card-title>
          <mat-card-content>
            <app-palette [colors]="matLightBlue" [contrastColors]="matLightBlueContrast"></app-palette>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="1 0 auto" fxFlex.gt-md="33">
        <mat-card>
          <mat-card-title>Cyan</mat-card-title>
          <mat-card-content>
            <app-palette [colors]="matCyan" [contrastColors]="matCyanContrast"></app-palette>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="1 0 auto" fxFlex.gt-md="33">
        <mat-card>
          <mat-card-title>Teal</mat-card-title>
          <mat-card-content>
            <app-palette [colors]="matTeal" [contrastColors]="matTealContrast"></app-palette>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div fxLayout="column" fxLayout.gt-md="row">
      <div fxFlex="1 0 auto" fxFlex.gt-md="33">
        <mat-card>
          <mat-card-title>Green</mat-card-title>
          <mat-card-content>
            <app-palette [colors]="matGreen" [contrastColors]="matGreenContrast"></app-palette>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="1 0 auto" fxFlex.gt-md="33">
        <mat-card>
          <mat-card-title>Light Green</mat-card-title>
          <mat-card-content>
            <app-palette [colors]="matLightGreen" [contrastColors]="matLightGreenContrast"></app-palette>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="1 0 auto" fxFlex.gt-md="33">
        <mat-card>
          <mat-card-title>Lime</mat-card-title>
          <mat-card-content>
            <app-palette [colors]="matLime" [contrastColors]="matLimeContrast"></app-palette>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div fxLayout="column" fxLayout.gt-md="row">
      <div fxFlex="1 0 auto" fxFlex.gt-md="33">
        <mat-card>
          <mat-card-title>Yellow</mat-card-title>
          <mat-card-content>
            <app-palette [colors]="matYellow" [contrastColors]="matYellowContrast"></app-palette>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="1 0 auto" fxFlex.gt-md="33">
        <mat-card>
          <mat-card-title>Amber</mat-card-title>
          <mat-card-content>
            <app-palette [colors]="matAmber" [contrastColors]="matAmberContrast"></app-palette>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="1 0 auto" fxFlex.gt-md="33">
        <mat-card>
          <mat-card-title>Orange</mat-card-title>
          <mat-card-content>
            <app-palette [colors]="matOrange" [contrastColors]="matOrangeContrast"></app-palette>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div fxLayout="column" fxLayout.gt-md="row">
      <div fxFlex="1 0 auto" fxFlex.gt-md="33">
        <mat-card>
          <mat-card-title>Deep Orange</mat-card-title>
          <mat-card-content>
            <app-palette [colors]="matDeepOrange" [contrastColors]="matDeepOrangeContrast"></app-palette>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="1 0 auto" fxFlex.gt-md="33">
        <mat-card>
          <mat-card-title>Brown</mat-card-title>
          <mat-card-content>
            <app-palette [colors]="matBrown" [contrastColors]="matBrownContrast"></app-palette>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="1 0 auto" fxFlex.gt-md="33">
        <mat-card>
          <mat-card-title>Grey</mat-card-title>
          <mat-card-content>
            <app-palette [colors]="matGrey" [contrastColors]="matGreyContrast"></app-palette>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div fxLayout="column" fxLayout.gt-md="row">
      <div fxFlex="1 0 auto" fxFlex.gt-md="33">
        <mat-card>
          <mat-card-title>Blue Grey</mat-card-title>
          <mat-card-content>
            <app-palette [colors]="matBlueGrey" [contrastColors]="matBlueGreyContrast"></app-palette>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="1 0 auto" fxFlex.gt-md="33">
        <mat-card>
          <mat-card-title>Black White</mat-card-title>
          <mat-card-content>
            <app-palette [colors]="matBlackWhite" [contrastColors]="matBlackContrast"></app-palette>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </article>
</section>
