<section>
  <header class="text-center">
    <h5>Testimonials</h5>
    <div class="mat-subhead">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis dolorum ducimus placeat possimus
      provident qui reprehenderit tempore totam voluptatibus. At doloribus possimus praesentium quam ut! Deserunt,
      excepturi tempore? Magnam.
    </div>
  </header>
  <article>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <mat-card fxFlex="1 0 auto" fxFlex.gt-sm="33" class="text-center pad-top-xl push-top-xxl">
        <img src="assets/avatars/7070.png" class="avatar-top">
        <mat-card-title><p>Outstanding!</p></mat-card-title>
        <mat-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eligendi eos fugiat harum, ipsum magnam
            perspiciatis totam unde vel vitae.</p>
        </mat-card-content>
        <mat-card-actions class="text-md">
          <span class="primary-color">Ada	Allison</span>
          <span class="secondary-text-color">CTO at Best Solutions</span>
        </mat-card-actions>
      </mat-card>
      <mat-card fxFlex="1 0 auto" fxFlex.gt-sm="33" class="text-center pad-top-xl push-top-xxl">
        <img src="assets/avatars/7070.png" class="avatar-top">
        <mat-card-title><p>Excellent!</p></mat-card-title>
        <mat-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eligendi eos fugiat harum, ipsum magnam
            perspiciatis totam unde vel vitae.</p>
        </mat-card-content>
        <mat-card-actions class="text-md">
          <span class="primary-color">Billy	Banks</span>
          <span class="secondary-text-color">Innovation expert</span>
        </mat-card-actions>
      </mat-card>
      <mat-card fxFlex="1 0 auto" fxFlex.gt-sm="33" class="text-center pad-top-xl push-top-xxl">
        <img src="assets/avatars/7070.png" class="avatar-top">
        <mat-card-title><p>Wonderful!</p></mat-card-title>
        <mat-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eligendi eos fugiat harum, ipsum magnam
            perspiciatis totam unde vel vitae.</p>
        </mat-card-content>
        <mat-card-actions class="text-md">
          <span class="primary-color">Calvin West</span>
          <span class="secondary-text-color">Delivery manager at Super Soft</span>
        </mat-card-actions>
      </mat-card>
    </div>
  </article>
</section>
